# Django settings
DEBUG=
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
ALLOWED_HOSTS=*
DJANGO_PORT=

# LDAP settings
LDAP_GROUP_ADMINS=
LDAP_GROUP_BANNED=

AUTH_LDAP_SERVER_URI=ldap://ip
AUTH_LDAP_BIND_USER=
AUTH_LDAP_BIND_PASSWORD=
AUTH_LDAP_BIND_USER_OU=

AUTH_LDAP_COMPANY_OU=
AUTH_LDAP_DOMAIN_COMPONENT_1=
AUTH_LDAP_DOMAIN_COMPONENT_2=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=